@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 3em;
    margin: 0;
    padding: 0;
    font-family: "Wittgenstein", serif;
    font-weight: bold;
}

.temperature:hover {
    background-color: #f5f5f5;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    padding: 5px 10px;
    border: 1px black solid;
    box-shadow: 1px 0.5px 0 2px black;
    transition: 0.5s ease-in-out;
}

.weather-description {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.5px;
    margin: 0 0.5em;
    text-align: center;
    margin-bottom: 0.5em;

}

.weather-description:hover {
    font-weight: 900;
}

.parameter-label {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: 1;
    margin-left: 0.5em;
}

.parameter-value {
    font-family: "Wittgenstein", serif;
    font-weight: bold;
    margin: 0.5em;

}

.parameter-label:hover,
.parameter-value:hover {
    font-weight: 900;
    transition: 0.5s;
}

.detail {
    display: flex;
}

.detail-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 1em;
    border: 1px solid black;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 1px 0.5px 0 2px black;
    width: 6em;
    height: 3em;
    text-align: center;
    background-color: #f5f5f5;
}

.detail-box:hover {
    width: 6.5em;
    height: 3.5em;
    font-size: 1em;
    font-weight: 900;
    transition: 0.5s;
}

.detail-box-group {
    display: flex;
}

.detail-content {
    font-size: 1em;
    font-weight: 550;
    font-family: "Roboto", sans-serif;

}

.detail-content-value {
    font-family: "Wittgenstein", serif;
    font-weight: bold;

}

@media only screen and (max-width : 900) {
    .weather {
        max-width: 100%;
    }

}

@media only screen and (max-width: 700px) {
    .detail {
        flex-direction: column;
        align-items: center;
    }

    .detail-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 1em;
        border: 1px solid black;
        border-radius: 1em;

        /* Adjust margin for spacing between detail boxes */
    }

    .detail-box-group {
        display: flex;
    }
}